{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true,
        "libraryDirectory": "lib"
      }
    ]
  ]
}
