{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "add-module-exports"
//    ["import",  {
//      "libraryName": "antd",
//      "libraryDirectory": "lib",   // default: lib
//      "style": true
//    }]
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
